@use '../vendor/bootstrap';

@mixin calc-font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $size: $min-font-size + ((100vw - $min-vw) / ($max-vw - $min-vw)) *
        ($max-font-size - $min-font-size);
    font-size: $size;
}

@mixin calc-elem-size(
    $elem-name,
    $min-vw,
    $max-vw,
    $min-font-size,
    $max-font-size
) {
    #{$elem-name} {
        @include calc-font-size(
            $min-vw,
            $max-vw,
            $min-font-size,
            $max-font-size
        );
    }
}

@mixin social-icon($font-size) {
    padding: ($font-size * (2/3));
    font-size: ($font-size);
    width: ($font-size * (2+ (1/3)));
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: ($font-size * (1/6)) ($font-size * (1/15));
}

@mixin carousel-sizing($width) {
    margin: auto;

    $height: calc(#{$width}* 9 / 16);
    @include bootstrap.media-breakpoint-up(md) {
        max-height: $height !important;
        max-width: $width !important;
    }

    .carousel-item {
        @include bootstrap.media-breakpoint-up(md) {
            max-height: $height !important;
            max-width: $width !important;
        }

        img {
            @include bootstrap.media-breakpoint-up(md) {
                max-height: $height !important;
                max-width: $width !important;
            }
        }
    }
}
