/* External */
$fa-font-path: "../vendor/font-awesome/webfonts";

/* Colors */
$prag-black: #211e1f;
$prag-red: #d01334;
$off-white: #fefefe;
$facebook-blue: #3b5998;
$linkedin-blue: #007bb5;
$twitter-blue: #55acee;

$min-vw: 36vw;
$max-vw: 75vw;
