Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} (it-and-systems|epicor)(.php)?$
  RewriteRule (it-and-systems|epicor)(.php)?$ dev/public/index.php [L,NC]

</IfModule>