@use '../vendor/bootstrap' as *;

$prag-black: #211e1f;
$prag-red: #d01334;
$off-white: #fefefe;

$size-1: $spacer * 0.25;
$size-2: $spacer * 0.5;
$size-3: $spacer;
$size-4: $spacer * 1.5;
$size-5: $spacer * 3;
