.profile-modal .modal-body {
  padding: 25px;
}

.modal-body {
  font-weight: normal;
  text-align: justify;
}

.modal-body li {
  text-align: left;
  line-height: 1.29rem;
}

button.modal-btn {
  padding: 0;
  border: none;
  background: none;
}

.erp-systems img {
  max-height: 150px;
}

.profile-photo {
  max-height: 250px;
}