@use '../vendor/bootstrap';

.modal-body {
    font-weight: normal;
    text-align: justify;
}

.profile-modal .modal-body {
    padding: 25px;
}

.modal-body li {
    text-align: left;
    line-height: 1.29rem;
}

button.modal-btn {
    padding: 0;
    border: none;
    background: none;
}

.profile-list div {
    text-align: center;
}

.profile-list img {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.profile-group {
    padding: 10px;
    padding-top: 20px;
    border: 1px solid #cecece;
    border-radius: 2px;
}

.profile-photo {
    max-height: 250px;
}

.picture-frame {
    height: 250px;
}

.picture-frame img {
    object-fit: cover;
    object-position: top center;
    height: 250px;
    max-width: 70%;
    @include bootstrap.media-breakpoint-up(sm) {
        max-width: 70%;
    }

    @include bootstrap.media-breakpoint-up(md) {
        max-width: 75%;
    }
}

.profile-link {
    color: #eb0808;
    transition: all 0.15s ease;
}

.profile-link:hover {
    letter-spacing: 1px;
    color: #ff0707;
    text-decoration: none;
}

h4.col {
    height: 30px;
}
