@use '../vendor/bootstrap';

li.more,
li.less {
    // Copied from .card-footer
    padding: 0.75rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);

    color: #007bff;
    padding-left: 10px;

    &:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }
}
